.button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
  
    background-color: var(--accent-color);
    color: var(--primary-background-color);
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    cursor: pointer;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .button:hover {
    background-color: var(--button-background-color);
  }
  
  .button:focus {
    background-color: var(--button-background-color);
  }
  
  .button:active {
    background-color: var(--button-background-color);
  }